.image-card {
    position: relative;
}

.delete-button {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.image-card:hover .delete-button {
    display: block;
}

/* styles.css */

body {
    background-color: #222 !important;
}

.card {
    background-color: #333;
    color: #fff;
}

.card-title {
    color: #fff;
}

.card-text {
    color: #ccc;
}

h1.mt-4 {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    /* Add any other desired styles */
}